/* Main Styling */
.hidden {
    display: none;
}

.poppins-regular-h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #4C2612;
    font-size: 30px;
    padding-left: 35px;
    margin-bottom: 15px;
}

.poppins-regular-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #4C2612;
    padding-left: 15px;
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #4C2612;
}

.poppins-footer {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #4C2612;
}
 
 body {
    background: rgb(235,158,189);
    background: linear-gradient(90deg, rgba(235,158,189,1) 0%, rgba(250,152,218,1) 36%, rgba(154,230,129,1) 100%);
 }
 
 a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #4c2612;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

.flavours {
    color: #D82E36;
    font-size: 24px;

}

/* --- Header --- */
#sticky-nav-con {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 1;
 }

#main-header {
    background-color: #F9F3E8;
    box-shadow: 4px 5px 10px #4C2612;
    width: 100%;
}

#logo {
    margin: 30px 30px 0px 20px;
 }

#logo img {
    min-width: 150px;
}

.icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-items: top;
    margin-left: 30px;
}

#profile-icon {
    margin-top: 40px;
    min-width:30px;
    margin-right: 10px;
    cursor: pointer;
}

#shopping-icon {
    min-width: 60px;
    margin-top: 25px;
    margin-right: 15px;
    cursor: pointer;
}

#main-navigation button {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: url(../images/burger.svg) no-repeat center;
    transition: all .5s ease;
    margin-top: 40px;
    border: none;
    background-size: contain;
    cursor: pointer;
 }
 
 #main-navigation button.expanded {
    transform: rotate(90deg);
 }

 #burger-con {
    background-color: #F9F3E8;
    width: 100%;
    left: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
 }
 
 #burger-con.slide-toggle {
    display: block;
    
 }
 
 #main-navigation ul li a:hover {
    color: #ff1100;
 }
 
 #main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-navigation ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #4C2612;
    font-size: 14px;
 }
 
 #main-navigation ul li {
    border-bottom: 1px solid #cdabab;
 }
 
 
 #main-navigation ul li:first-child {
    border-top: 1px solid #cdabab;
 }
 
 #main-navigation ul li:last-child {
    margin-bottom: 10px;
 }


/* --- Hero Section --- */
#hero img {
    grid-column: 1/-1;
    grid-row: 1/1;
    justify-self: center;
    filter: drop-shadow(5px 5px 20px #F9F3E8);
 }
 
 #hero-main {
    height: 400px;
    object-fit: cover;
 }
 
 #hero .grid-con {
    grid-column: 2/3;
    grid-row:1/1;
    margin: 0;
 }
 
 #hero-text {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 25px 30px 25px;
 }

 #hero-text h2 {
    z-index:0;
    color: #D82E36;
    line-height: 80px;
    font-size: 70px;
    text-shadow: 5px 5px 10px #F9F3E8;
    padding-bottom: 10px;
 }

 #hero-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

#hero-info p {
    text-align: center;
    font-size: 18px;
    margin: 25px;
}

#shop-now {
    color: #4C2612;
    font-size: 18px;
    background-color: #f7cfde;
    width: 200px;
    padding: 8px;
    margin: 10px;
    border: 2px solid #4C2612;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#shop-now:hover {
    background-color: #D82E36;
    color: #F9F3E8;
}

 /* --- Products --- */
#products-hmpg {
    background-color: #F9F3E8;
}

#products-hmpg h3 {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.can-image img {
    width: 275px;
    height: 275px;
    border: 2px solid #4C2612;
    border-radius: 50%;
}

.flavour-info {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 10px;
}

.flavour-info p {
    padding-left: 10px;
}

.circle {
    width: 150px;
    height: 150px;
    border: 2px solid #4C2612;
    border-radius: 50%;
}

.see-product {
    color: white;
    background-color: #D82E36;
    width: 150px;
    padding: 10px;
    margin: 20px;
    border: 2px solid #4C2612;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.see-product:hover {
    background-color: rgb(219, 242, 194);
    color: #4c2612;
}

.product-info h3::before {
    content:"✔️";
}

.product-info {
    font-size: 22px;
    margin-top: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}

/* --- Promotions --- */
.promo-materials {
    background-color: #f7cfde;
}

#image-gallery{
    margin-left: 20px;
    margin-right: 20px;
    overflow:hidden;
    position:relative
}

#image-slider{
    display:flex;
    transition:transform .3s ease-in-out
}

.gallery-image{
    max-width:100%;
    height:auto;
    border: 3px solid #4C2612;
    border-radius: 4px;
}

#prev-button, #next-button{
    position:absolute;
    top:50%;
    width: 90px;
    transform:translateY(-50%);
    font-family: 'poppins';
    color: #4C2612;
    font-size: 12px;
    cursor: pointer;
    padding:10px;
    border:none;
    background-color:rgba(255, 248, 248, 0.6)
}

#prev-button{
    left:0px
}

#next-button{
    right:0px
}


/* --- Testimonials --- */
.testimonials {
    background-color: #deedc6;
    padding-bottom: 100px;
}

.testimonials h3 {
    margin-left:15px;
}

.comment {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f7cfde;
    padding: 25px;
    margin: 20px;
    border: 2px solid #4C2612;
    border-radius: 5px;;
}

.comment img {
    border: 2px solid #4C2612;
    border-radius: 50%;
    height: 150px;
    margin-right: 25px
}

.comment p {
    font-style: italic;
}

/* --- Connect With Us --- */
#connect {
    background-color:#F9F3E8;
    padding-bottom: 100px;
}
#connect img {
    margin-left: 15px;
}
#strawberry-milk {
    margin-top: 35px;
}

#connect h2 {
    margin-top: 35px;
}

#connect h3 {
    font-size: 20px;
    padding-left: 0px;
}

.connect-icons {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.connect-icons img {
    width: 100px;
    cursor: pointer;
}



/* --- Footer --- */
footer {
    background-color: #FFD2D4;
    padding: 30px;
}

.footer1 {
    display: flex;
    justify-content: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 0px 30px 0px;
}

#footer-nav ul li a:hover {
        color: #ff1100;
     }
     
#footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right:60px;
}

#footer-nav ul {
   list-style: none;
}

#footer-nav ul li a {
    font-size: 14px;;
}

#footer-nav ul {
    border-left: 3px solid #4C2612;
}

#bottom-text {
    text-align: center;
}

.footer1 h3 {
    color: #D82E36
}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
    #sticky-nav-con {
       position: sticky;
       top: 0px;
       background-color: #fff;
       z-index: 1;
    }

    .poppins-regular-h2 {
        font-size: 55px;
    }

    .poppins-regular-text {
        font-size: 26px;
    }
    
    .poppins-bold {
        line-height: 48px;
    }

    .flavours {
        color: #D82E36;
        font-size: 40px;
    }

    .flavour-info {
        font-size: 32px;
    }

    .product-info {
        margin-top: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .comment p {
        font-size: 22px;
    }

    #connect h3 {
        font-size: 20px;
        margin-left: 15px;
    }

    #button {
        display: none;
     }

    .icons {
        justify-content: space-evenly;
        align-items: flex-start;
        margin-left: 10px;
    }
   
    #burger-con {
        position: relative;
        display: inline-block;
    }

    #main-navigation ul li {
        border: none;
        padding-left: 15px;
    }

    #main-navigation ul {
        display: flex;
        align-items: center;
    }

    #main-navigation ul li {
        padding-top: 15px;
    }
    #main-navigation ul li:first-child {
        border-top: none;
     }
     
     #main-navigation ul li:last-child {
        margin-bottom: 0%;
     }

     #profile-icon {
        margin-right: 10px;
        cursor: pointer;
        max-width: 30px;
    }
    
    #shopping-icon {
        margin-right: 0px;
        cursor: pointer;
        max-width: 30px;
    }

    #logo {
        margin-left: 40px;
        width: 200px
    }

    #hero-main {
        height: 550px;
     }
    
     #hero-text h2 {
        line-height: 110px;
        font-size: 90px;
     }
    
    #hero-info p {
        font-size: 24px;
        margin: 28px;
    }
    
    #shop-now {
        color: white;
        background-color: #D82E36;
        width: 300px;
        padding: 8px;
        margin: 10px;
        border: 2px solid #4C2612;
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        font-size: 24px
    }

    .can-image img {
        width: 325px;
        height: 325px;
    }

    .flavour-info {
        font-size: 20px;
    }

    .comment img {
        border: 2px solid #4C2612;
        border-radius: 50%;
        height: 200px;
        margin-right: 25px
    }
}


/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 1200px) {
    #hero-main {
        height: 700px;
     }

     .poppins-regular-h2 {
        font-size: 55px;
    }

    .poppins-regular-text {
        font-size: 26px;
    }
    
    .poppins-bold {
        line-height: 48px;
    }

    .flavours {
        color: #D82E36;
        font-size: 40px;
    }

    .flavour-info {
        font-size: 32px;
    }

    .product-info {
        margin-top: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .comment p {
        font-size: 22px;
    }

    #connect h3 {
        font-size: 20px;
        margin-left: 15px;
    }

     #hero-text h2 {
        line-height: 125px;
        font-size: 120px;
     }
     .can-image img {
        width: 400px;
        height: 400px;
}
}

@media screen and (min-width: 1920px) {
    #hero-text h2 {
        line-height: 125px;
        font-size: 140px;
     }

     .can-image img {
        width: 500px;
        height: 500px;
}
}













/* --- Product Page Styling ---*/
.product-header {
    font-size: 55px;
    margin-top: 50px;
    color: #4c2612;
    text-shadow: 2px 6px 2cqb #F9F3E8;
}

.flavours2 {
    color: #D82E36;
    font-size: 30px;
}

.see-product2 {
    color: #4C2612;
    background-color: #deedc6;
    width: 250px;
    padding: 10px;
    border: 2px solid #4C2612;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.see-product2:hover {
    color: #fff;
    background-color: #94bb56;
}

#strawberry-flavour, #chocolate-flavour, #banana-flavour, #honeydew-flavour {
    background-image: url(../images/milk-splash2.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.can-img-product {
    cursor: pointer;
}

.flavour-info2 img {
    transition: transform 0.3s ease-in-out;
}

.flavour-info2 img:hover {
    transform: scale(1.4) translateX(8px) rotate(10deg);
}

.quantity-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.counter-value {
    background-color: #FFD2D4;
    border: 2px solid #4C2612;
    border-radius: 2px;
    margin: 5px;
    width: 75px;
    height: 25px;
    text-align: center;
}

.add-to-cart {
    width: 100px;
    height:25px;
    background-color: #FFD2D4;
    border: 2px solid #4C2612;
    border-radius: 2px;
    margin: 5px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #D82E36;
    color: #fff;
    border: 2px solid #4C2612;
}
/* --- lightbox ---- */
.lightbox { 
    width: 100vw; /* vw = viewport width => screen width */
    height: 100vh; /* vh = viewport height => screen height */
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/nutrition-label.png);
    background-repeat: no-repeat;
    background-position: 5% 25%;
    background-size: 30%;
    background-color: rgba(20, 15, 14, 0.92);
    z-index: 5000;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 85%;
    color: white;
    font-family: 'poppins';
    font-size: 80px;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 5%;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }

.lb_heading {
    color:#D82E36;
    font-family: 'poppins';
    font-size: 25px;
    text-align: left;
}

.lb_text { 
    color: #F9F3E8;
    font-family: 'poppins';
    font-size: 16px;
    text-align: left; 
    line-height: 1.6 !important;
    margin-top: 15px;
    margin-bottom: 25px;
}


.lb_text2 {
    color: #F9F3E8;
    font-family: 'poppins';
    font-size: 16px;
    text-align: left;
    line-height: 1.6 !important;
    margin-top: 15px;
}


@media screen and (min-width: 768px) {
    .product-header {
        font-size: 100px;
        margin-top: 15px;
        text-align: left;
    }
    
    .see-product2 {
        width: 250px;
    }
    .can-image2 img  {
            width: 300px;
            height: 300px;
            border: 2px solid #4C2612;
            border-radius: 50%;
        }

    .can-image3 {
        margin-top: 45px
    }

    .lb_heading {
        font-size: 34px;
    }
    
    .lb_text { 
        color: #F9F3E8;
        font-size: 20px;
    }
    
    .lb_text2 {
        font-size: 20px;
}


@media screen and (min-width: 1200px) {
.flavour-info2 p {
    font-size: 16px;
}

.lb_heading {
    font-size: 50px;
}

.lb_text { 
    font-size: 26px;
}


.lb_text2 {
    font-size: 26px;
}}

@media screen and (min-width: 1920px) {
    .lb_heading {
        font-size: 70px;
    }
    
    .lb_text { 
        font-size: 36px;
    }
    
    
    .lb_text2 {
        font-size: 36px;
    }}
    
}