/* Main Styling */
.hidden {
    display: none;
}

.poppins-regular-h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #4C2612;
    font-size: 36px;
    padding-left: 25px;
    margin-bottom: 10px;
}

.poppins-regular-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-style: normal;
    color: #4C2612;
    padding-left: 10px;
    padding-right: 15px;
    
}

.poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    color: #4C2612;
}

.poppins-footer {
    font-size: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    color: #4C2612;
}
 
 body {
    background: rgb(239,139,143);
    background: linear-gradient(90deg, rgba(239,139,143,1) 0%, rgba(188,221,135,1) 49%, rgba(0,183,255,1) 100%);
 }

 a {
    text-decoration: none;
    font-family: "poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    color: #4c2612;
    transition: all .5s ease-in-out;
 }
 
 input, textarea {
    display: block;
    margin: 0;
    padding: 0;
 }

.flavours {
    color: #D82E36;
    font-size: 24px;

}

/* --- Header --- */
#sticky-nav-con {
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 1;
 }

#main-header {
    background-color: #F9F3E8;
    box-shadow: 4px 5px 10px #4C2612;
    width: 100%;
}

#logo {
    margin: 30px 30px 0px 20px;
 }

#logo img {
    min-width: 150px;
}

.icons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-items: top;
    margin-right: 30px;
}

#profile-icon {
    margin-top: 40px;
    min-width: 30px;
    margin-right: 10px;
    cursor: pointer;
}

#shopping-icon {
    min-width: 60px;
    margin-top: 25px;
    margin-right: 15px;
    cursor: pointer;
}

#main-navigation button {
    min-width: 30px;
    width: 30px;
    height: 30px;
    background: url(../images/burger.svg) no-repeat center;
    transition: all .5s ease;
    margin-top: 40px;
    border: none;
    background-size: contain;
    cursor: pointer;
 }
 
 #main-navigation button.expanded {
    transform: rotate(90deg);
 }

 #burger-con {
    background-color: #F9F3E8;
    width: 100%;
    left: 0;
    padding-top: 20px;
    margin-bottom: 10px;
    display: none;
    position: fixed;
 }
 
 #burger-con.slide-toggle {
    display: block;
    
 }
 
 #main-navigation ul li a:hover {
    color: #ff1100;
 }
 
 #main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
 }
 
 #main-navigation ul li a {
    display: block;
    padding: 10px 0 10px 0;
    text-align: center;
    color: #4C2612;
    font-size: 14px;
 }
 
 #main-navigation ul li {
    border-bottom: 1px solid #cdabab;
 }
 
 
 #main-navigation ul li:first-child {
    border-top: 1px solid #cdabab;
 }
 
 #main-navigation ul li:last-child {
    margin-bottom: 10px;
 }


/* --- Hero Section --- */
.hero img {
    filter: drop-shadow(5px 5px 20px #F9F3E8);
 }
 
 #hero-main {
    z-index: -1;
    height: auto;
    object-fit: cover;
    max-width: 100%;
    position: relative;
    right: 230px;
 }
 
.hero {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
 }
 
 #hero-title {
    width: 250px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-left: 30px;
 }

 #hero-title h2 {
    z-index: 0;
    color: #D82E36;
    line-height: 50px;
    font-size: 50px;
    text-shadow: 5px 5px 10px #F9F3E8;
    padding-bottom: 10px;
    margin-top: 65px;
 }

#hero-button {
    z-index: 0;
    color: #4C2612;
    font-size: 12px;
    background-color: #f7cfde;
    width: 150px;
    height: 35px;
    padding: 8px;
    margin: 10px;
    border: 2px solid #4C2612;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#hero-button:hover {
    background-color: #D82E36;
    color: #F9F3E8;
}

#hero-info {
    z-index: 0;
    padding-left: 0;
}

#hero-info p {
    text-align: left;
    font-size: 12px;
}

#hero-button:hover {
    background-color: #D82E36;
    color: #F9F3E8;
}

 /* --- Flavours --- */
.flavours-section {
    background-color: #F9F3E8;
}

.flavours-section h3 {
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.can-image img {
    min-width: 200px;
    height: 200px;
    border: 3px solid #4C2612;
    border-radius: 50%;
    box-shadow: 5px 5px 7px #4C2612;
}

.flavour-info {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    text-align: left;
    margin: 10px;
}

.flavour-info p {
    padding-left: 20px;
}

.see-product {
    color: #F9F3E8;
    background-color: #D82E36;
    width: 150px;
    padding: 10px;
    margin: 20px;
    border: 2px solid #4C2612;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.see-product:hover {
    background-color: rgb(219, 242, 194);
    color: #4c2612;
}

.product-info h3::before {
    content:"✔️";
}

.product-info {
    font-size: 22px;
    margin-top: 50px;
    line-height: 50px;
    margin-bottom: 30px;
}

/* --- Promotions --- */
.promo-materials {
    background-color: #f7cfde;
}

#image-gallery {
    margin: 0 40px 40px 40px;
    overflow: hidden;
    position: relative
}

#image-slider {
    display: flex;
    transition: transform .3s ease-in-out
}

.gallery-image {
    height: auto;
    border: 2px solid #4C2612;
    border-radius: 5px;
}

#prev-button, #next-button {
    position:absolute;
    top: 88%;
    width: 90px;
    transform: translateY(-50%);
    font-family: 'poppins';
    color: #4C2612;
    font-size: 12px;
    cursor: pointer;
    padding: 10px;
    border: none;
    background-color: rgba(255, 248, 248, 0.5)
}

#prev-button{
    left: 0px;
}

#next-button{
    right: 0px;
}

#commercial {
    margin: 0px 40px 40px 40px;
}

/* --- Testimonials --- */
.testimonials {
    background-color: #deedc6;
}

.testimonials h3 {
    margin: 0px 20px 0px 20px;
}

.comment {
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #f7cfde;
    padding: 25px;
    margin: 20px;
    border: 2px solid #4C2612;
    border-radius: 5px;
}

.comment img {
    border: 3px solid #4C2612;
    border-radius: 50%;
    height: 150px;
    margin-right: 25px
}

.comment p {
    font-style: italic;
}

/* --- Connect With Us --- */
#connect {
    background-color:#ddf3fc;
    padding-bottom: 50px;
}

#connect h3 {
    margin: 0px 20px 0px 20px;
}
.connect-icons {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}
.connect-icons img {
    width: 100px;
    cursor: pointer;
}

/* --- Footer --- */
footer {
    background-color: #FFD2D4;
    padding: 30px;
}

.footer1 {
    display: flex;
    justify-content: center;
}

#contact-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 30px 0px 30px 0px;
}

#footer-nav ul li a:hover {
        color: #ff1100;
     }
     
#footer-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right:60px;
}

#footer-nav ul {
   list-style: none;
}

#footer-nav ul li a {
    font-size: 14px;;
}

#footer-nav ul {
    border-left: 3px solid #4C2612;
}

#bottom-text {
    text-align: center;
}

.footer1 h3 {
    color: #D82E36
}

/* ---Tablet Library Grid Styles--- */
@media screen and (min-width: 768px) {
    #sticky-nav-con {
       position: sticky;
       top: 0px;
       background-color: #fff;
       z-index: 1;
    }

    .poppins-regular-h2 {
        font-size: 50px;
    }

    .poppins-regular-text {
        font-size: 22px;
    }
    
    .poppins-bold {
        line-height: 48px;
    }

    #button {
        display: none;
     }

    .icons {
        justify-content: right;
        align-items: flex-start;
        margin-left: 10px;
        margin-right: 0;
    }
   
    #burger-con {
        position: relative;
        display: inline-block;
        margin-top: 4px;
    }

    #main-navigation ul li {
        border: none;
        padding-right: 15px;
        padding-top: 15px;
    }

    #main-navigation ul li a {
        font-size: 16px;
    }
    #main-navigation ul {
        display: flex;
        align-items: center;
    }

    #main-navigation ul li:first-child {
        border-top: none;
     }
     
     #main-navigation ul li:last-child {
        margin-bottom: 0%;
     }

     #profile-icon {
        cursor: pointer;
        max-width: 30px;
    }
    
    #shopping-icon {
        cursor: pointer;
        max-width: 30px;
    }

    #logo {
        margin-left: 40px;
        width: 200px;
        margin: 20px 20px 0px 30px;
    }

    #hero-main {
        z-index: -1;
        height: auto;
        object-fit: cover;
        max-width: 100%;
        position: relative;
     }

    #hero-title h2 {
        font-size: 8vw;
        line-height: 8vw;
        margin-top: 100px;
    }

    #hero-text {
        margin-left: 8vw;
    }

    #hero-info p {
        font-size: 1.5vw;;
        line-height: 3vw;
        width: 300px;
    }
    
    #hero-button {
        width: 245px;
        height: 45px;
        padding: 8px;
        margin: 10px;
        font-size: 18px
    }

    .flavour-info {
        margin: 20px
    }

    .flavour-info p {
        font-size: 22px;
        margin-left: 25px;
    }
    
    .can-image img {
        min-width: 300px;
        height: 300px;
    }

    .flavours {
        color: #D82E36;
        font-size: 30px;
    }

    .product-info {
        margin-top: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }

    .comment p {
        font-size: 18px;
    }

    .comment img {
        min-width: 200px;
        min-height: 200px;
    }

    #connect h3 {
        font-size: 20px;
        margin-left: 15px;
    }
}


/* --- Desktop Library Grid Styles--- */
@media screen and (min-width: 1200px) {

     .poppins-regular-h2 {
        font-size: 55px;
    }

    .poppins-regular-text {
        font-size: 24px;
    }
    
    .poppins-bold {
        line-height: 48px;
    }

    #hero-title h2 {
        font-size: 8vw;
        line-height: 8vw;
        margin-top: 120px;
    }

    #hero-text {
        margin-left: 6vw;
    }

    #hero-info p {
        font-size: 18px;
        line-height: 3vw;
        width: 425px
    }
    
    #hero-button {
        width: 300px;
        height: 50px;
        padding: 8px;
        margin: 15px;
        font-size: 20px
    }

    .flavour-info {
        margin: 20px
    }

    .flavour-info p {
        font-size: 20px;
        margin-left: 25px;
    }
    
    .can-image img {
        min-width: 175px;
        height: 175px;
    }

    .product-info {
        margin-top: 50px;
        line-height: 50px;
        margin-bottom: 30px;
    }
    .comment {
        justify-content: center;
    }
    .comment img {
        min-width: 50px;
        min-height: 50px;
    }

    .comment p {
        width: 650px;
        font-size: 18px;
    }

    #connect h3 {
        font-size: 20px;
        margin-left: 15px;
    }
}

@media screen and (min-width: 1920px) {
    #hero-title h2 {
        line-height: 125px;
        font-size: 140px;
     }

     .can-image img {
        width: 500px;
        height: 500px;
}
}













/* --- Product Page Styling ---*/
.product-header {
    font-size: 55px;
    margin-top: 50px;
    color: #4c2612;
    text-shadow: 2px 6px 2cqb #F9F3E8;
}

.flavours2 {
    color: #D82E36;
    font-size: 30px;
}

.see-product2 {
    color: #4C2612;
    background-color: #deedc6;
    width: 250px;
    padding: 10px;
    border: 2px solid #4C2612;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.see-product2:hover {
    color: #fff;
    background-color: #94bb56;
}

#strawberry-flavour, #chocolate-flavour, #banana-flavour, #honeydew-flavour {
    background-image: url(../images/milk-splash2.png);
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center;
}

.can-img-product {
    cursor: pointer;
}

.flavour-info2 {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: left;
    margin: 10px;
}

.flavour-info2 p {
    padding-left: 10px;
}

.flavour-info2 img {
    transition: transform 0.3s ease-in-out;
}

.flavour-info2 img:hover {
    transform: scale(1.4) translateX(8px) rotate(10deg);
}

.quantity-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 20px 0;
}

.counter-value {
    background-color: #f7cfde;
    border: 2px solid #4C2612;
    border-radius: 2px;
    margin: 5px;
    width: 75px;
    height: 25px;
    text-align: center;
}

.add-to-cart {
    width: 100px;
    height: 25px;
    background-color: #f7cfde;
    border: 2px solid #4C2612;
    border-radius: 2px;
    margin: 5px;
    text-align: left;
    font-size: 12px;
    cursor: pointer;
}

.add-to-cart:hover {
    background-color: #D82E36;
    color: #F9F3E8;
    border: 2px solid #4C2612;
}


/* --- lightbox ---- */
.lightbox { 
    width: 100vw; 
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/nutrition-label.png);
    background-repeat: no-repeat;
    background-position: 5% 25%;
    background-size: 30%;
    background-color: rgba(20, 15, 14, 0.92);
    z-index: 5000;
    display: none;
}

.lightbox_close {
    position: relative;
    top: 20px;
    left: 85%;
    color: white;
    font-family: 'poppins';
    font-size: 80px;
    text-decoration: none;
    font-weight: bolder;
}

.lightbox_close:hover { opacity: 0.5; color: red; }

.lightbox article {
    width: 55%;
    margin-left: 40%;
    padding-top: 5%;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target { display: block; }

.lb_heading {
    color:#D82E36;
    font-family: 'poppins';
    font-size: 25px;
    text-align: left;
}

.lb_text { 
    color: #F9F3E8;
    font-family: 'poppins';
    font-size: 16px;
    text-align: left; 
    line-height: 1.6 !important;
    margin-top: 15px;
    margin-bottom: 25px;
}


.lb_text2 {
    color: #F9F3E8;
    font-family: 'poppins';
    font-size: 16px;
    text-align: left;
    line-height: 1.6 !important;
    margin-top: 15px;
}


@media screen and (min-width: 768px) {
    .product-header {
        font-size: 100px;
        margin-top: 15px;
        text-align: left;
    }
    
    .see-product2 {
        width: 250px;
    }
    .can-image2 img  {
            width: 300px;
            height: 300px;
            border: 2px solid #4C2612;
            border-radius: 50%;
        }

    .can-image3 {
        margin-top: 45px
    }

    .lb_heading {
        font-size: 34px;
    }
    
    .lb_text { 
        color: #F9F3E8;
        font-size: 20px;
    }
    
    .lb_text2 {
        font-size: 20px;
}


@media screen and (min-width: 1200px) {
.flavour-info2 p {
    font-size: 16px;
}

.lb_heading {
    font-size: 50px;
}

.lb_text { 
    font-size: 26px;
}


.lb_text2 {
    font-size: 26px;
}}

@media screen and (min-width: 1920px) {
    .lb_heading {
        font-size: 70px;
    }
    
    .lb_text { 
        font-size: 36px;
    }
    
    
    .lb_text2 {
        font-size: 36px;
    }}
    
}






/* --- Contact Page Styling--- */

#contact-box {
    background-color: #F9F3E8;
}
#contact-box h3 {
    color: #D82E36;
    padding-left: 25px;
    margin-bottom: 10px;
}
#contact-box h2{ 
    padding-left: 25px;
    margin-bottom: 10px;
}
#contact-box form {
    display: flex;
    flex-direction: column;
 }
 
 #contact-form input {
    font-family: 'poppins';
    width: 250px;
    margin: 15px 15px 0px 15px;
    padding: 15px;
    background-color: #f7cfde;
    border: 2px solid #f3b4b4;
    border-radius: 4px;
 }

 #contact-form textarea {
    font-family: inherit;
    margin: 15px 25px 15px 15px;
    padding: 15px;
    border: 2px solid #f3b4b4;
    background-color: #f7cfde;
    border-radius: 5px;
 }
 
 #contact-form textarea {
    height: 200px;
 }
 
 #contact-form input[type="submit"] {
    padding: 12px 28px;
    background: #D82E36;
    color: #fff;
    border: 2px solid #4C2612;
    transition: all 200ms ease-in;
    width: 150px;
    align-self: flex-start;
 }
 
 #contact-form input[type="submit"]:hover {
    background-color: #c07777;

 }
 
 #strawberry-milk {
    margin-top: 20px;
    margin-bottom: 30px;
}

#strawberry-milk img {
    height: auto;
}